<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/meta.ejs') %>
    <%- include('./includes/styles.ejs') %> 
    <title>Linker</title>
</head>
<body>
    
    <%- include('./includes/scroll-to-top.ejs') %>
    <%- include('./includes/scripts.ejs') %>
</body>
</html>